@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  /* background-color: #800008; */
  cursor: url(http://31.media.tumblr.com/tumblr_lqs4idHqTZ1qfoi4t.png), progress !important;
}

/* =========================
   ROOT CONTAINER (WORLD)
========================= */
#mercierContainer {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
}







html, body {
  width: 100%;
  height: 100%;
}

#mercierContainer {
  min-height: 100%;
  width: 100%;
}





#leftSideMain {
  box-sizing: border-box;
  border:3px dotted brown;
  width: 39.12%;
  height:100%;
  display:flex;
  flex-direction:row;
  justify-content:flex-end;
  align-items:flex-end;
  position:relative;
  z-index: 1;
}

/* #leftSideMain img {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
} */


/* #leftSideMain img {
  height: 100%;
  width: auto;
  max-width: none;
  max-height:93dvh;
} */


#leftSideMain img {
  height: 100%;
  width: auto;
  max-width: 100%;
  max-height:93dvh;
  position: absolute;
  bottom: 0;
  right: 0;
}






/* =====================CAROUSEL STUFF================ */

#topGalleryDisplay{
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  z-index: 200000;

  box-sizing: border-box;
  border:5px dotted red;
  background-color: black;
  visibility:hidden;
  opacity: 0;
  transition: opacity 1s ease;

}

#topGalleryTop {
  box-sizing: border-box;
  border:3px dotted yellow;
  width:100%;
  height:75%;
  display:flex;
  flex-direction: row;
  justify-content:center;
  align-items: center;
}

#topGalleryBotBot{
  box-sizing: border-box;
  border:3px dotted blue;
  width:100%;
  height:10%;
  display:flex;
  flex-direction: row;
  justify-content:center;
  align-items: center;
}

#topGalleryBot {
  box-sizing: border-box;
  border:3px dotted green;
  width:100%;
  height:15%;
  display:flex;
  flex-direction: row;
  justify-content:center;
  align-items: center;
}

.chevronHolders {
  box-sizing: border-box;
  border:3px dotted white;
  width:10%;
  height:100%;
  display:flex;
  flex-direction:row;
  justify-content: center;
  align-items: center;
}


#chevronCenter {
  box-sizing: border-box;
  border:3px dotted purple;
  width:80%;
  height:100%;
  display:flex;
  flex-direction:row;
  justify-content: center;
  align-items: center;
}


#chevronHolder{
  box-sizing: border-box;
  border:3px dotted blue;
  width:30%;
  height:100%;
  display:flex;
  flex-direction:row;
  justify-content: center;
  align-items: center;
}

#closeButton {

}

















/* =========================
   BACKGROUND LAYER
========================= */
#bg-test {
  position: absolute;
  inset: 0;
  z-index: -1;
  pointer-events: none;
}

/* #bg-test img {
  position: absolute;
  width: 139%;
  height: 139%;
  top: -38%;
  left: -3%;
  object-fit: cover;
} */

#bg-test img {
  position: absolute;
  width: 139%;
  height: 139%;
  top: -38%;
  left: -3%;
  object-fit: cover;
  filter: brightness(1.4); /* 120% brightness */
}



/* #bgTestCover {
  position: absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  inset: 0;
  z-index: 0;
  pointer-events: none;
  opacity:.3;
} */

#bgTestCover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  inset: 0;
  z-index: 0;
  pointer-events: none;
  opacity: 1; /* make full opacity so mask works correctly */

  /* gradient mask to simulate varying opacity from left to right */
  -webkit-mask-image: linear-gradient(to right, rgba(0,0,0,.3) 50%, rgba(0,0,0,.5) 100%);
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-image: linear-gradient(to right, rgba(0,0,0,.3) 50%, rgba(0,0,0,.5) 100%);
  mask-repeat: no-repeat;
  mask-size: 100% 100%;

  background-color: transparent;
}


/* #bgTestCoverFront {
  position: absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  inset: 0;
  z-index: 2;
  pointer-events: none;
  opacity:.6;
} */


#bgTestCoverFront {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  pointer-events: none;

  /* Use a gradient mask to fade opacity horizontally */
  -webkit-mask-image: linear-gradient(to right, rgba(0,0,0,1) 39.12%, rgba(0,0,0,0) 40%);
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-image: linear-gradient(to right, rgba(0,0,0,.5) 39.12%, rgba(0,0,0,.2) 40%);
  mask-repeat: no-repeat;
  mask-size: 100% 100%;

  /* Optional: keep the canvas itself fully opaque */
  /* background-color: transparent; */
}

/* =========================
   SPACER
========================= */
#spacer {
  width: 8%;
  height: 100%;
}

/* =========================
   CARDINAL IMAGE
========================= */
#cardinal {
  position: relative;
  width: 31.12%;
  height: 100%;
  z-index: 2;
}



/* =========================
   RIGHT SIDE CONTAINER
========================= */
#theRest {
  position: relative;
  width: 60.88%;
  height: 100%;
  display: flex;
  flex-direction: column;
  z-index: 1;

    background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.3913) 0%,
    rgba(0, 0, 0, 0.0) 20%,
    /* rgba(0, 0, 0, 0.0) 49.13%,
    rgba(0, 0, 0, 0.0) 100% */
  );
}

#theRestTop {
  position: relative;
  width: 100%;
  height: 60%;
}

#theRestBot {
  position: relative;
  width: 100%;
  height: 40%;
  display: flex;
  flex-direction:row;
  justify-content: flex-end;
  align-items: flex-end;
  box-sizing:border-box;
  border:4px dotted white;
}

/* =========================
   MAIN PANEL (REFERENCE BOX)
========================= */
#main {
  position: relative;
  /* width: min(47vw, calc(47vh * 2.5625));
  height: min(47vh, calc(47vw / 2.5625)); */
  width:100%;
  height:100%;
  /* background: #700007; */
  /* background-color: rgba(112, 0, 7, 0.7); */
  background-color: rgba(28, 46, 131, 0.21);

  border: 3px solid #fff;
  border-radius: 25px 25px 25px 0;
  box-sizing: border-box;
  z-index: 3;
  border:3px dotted purple;
}

#mainMenu {
    box-sizing: border-box;
    border: 3px dotted blue;
    width: 28%;
    height: 84%;
    position: absolute;
    left: 1%;
    top: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menuBlock {
    box-sizing: border-box;
    /* border:3px dotted pink; */
    width:100%;
    height:20%;
    display:flex;
    justify-content:center;
    align-items:center;
}

/* =========================
   INFO PANEL
========================= */
#statsTab {
  position: absolute;
  left: 30.68%;
  bottom: 6.25%;
  width: 67.07%;
  height: 84.38%;
  background-color: #600006;
  padding: 1.22%;
  box-sizing: border-box;
  overflow: hidden;
  font-family: muli;
  /* font-size: 4.38%;
  line-height: 4.38%; */
  font-size: 14px;
  line-height: 14px;
  color: #fff;
  border-radius: 0 3.05% 3.05% 0;
  z-index: 5;
  visibility: visible;

}


#statsTab,
.dragon {
  transition: opacity 0.6s ease;
}


/* =========================
   DRAGON PANELS
========================= */
.dragon {
  position: absolute;
  left: 30.68%;
  bottom: 6.25%;
  width: 67.07%;
  height: 84.38%;
  background-color: #600006;
  padding: 1.22%;
  box-sizing: border-box;
  font-family: muli;
  /* font-size: 4.38%;
  line-height: 4.38%; */
  font-size: 14px;
  line-height: 14px;
  color: #fff;
  opacity: 0;
  overflow: auto;
  z-index: 4;
  visibility: hidden;
  transition: opacity 1s ease;
}


.dragon:target {
  bottom: 26.25%;
  bottom: 6.25%;
  opacity: 1;
  z-index: 6;
}



#personalityTab {
    visibility: hidden;
}

#historyTab {
    visibility: hidden;
}

#encountersTab {
    visibility: hidden;
}

#oocTab {
    visibility: hidden;
}


/* =========================
   TABS
========================= */
#thetabs {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5%;
  z-index: 10;
}

.menuInner {
    border: 3px solid #737373;

    border-radius: 25px 25px 25px 25px;
    border-right: solid 3px #8c8c8c;
    width:92%;
    height:68%;

    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
    color:white;
    font-size:1.8rem;
    cursor: pointer;
}

.inactive {
background-color: #600006;
}

.active {
    background-color: #09202a;
}

a.tab:link,
a.tab:visited,
a.tab:active {
  display: inline-block;
  width: 55.9%;
  height: 89%;
  background-color: #a1000b;
  border: 0.54% solid #fff;
  border-radius: 9.03%;
  text-decoration: none;
  transition: all 0.4s ease-in;
}

a.tab:hover {
  background-color: #800008;
}

/* =========================
   HEADERS
========================= */
#header {
  position: absolute;
  left: 50.95%;
  bottom: 62.28%;
  font-family: Anton, sans-serif;
  font-size: 9.84%;
  letter-spacing: 1.06%;
  background: linear-gradient(#bd4c54 35%, #a1000b 70%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  z-index: 2;
}

#header2 {
  position: absolute;
  left: 52.02%;
  bottom: 64.28%;
  font-family: Anton, sans-serif;
  font-size: 9.84%;
  letter-spacing: 1.06%;
  color: #000;
  z-index: 1;
}

/* =========================
   SMALL IMAGES
========================= */
#img_1, #img_2, #img_3 {
  position: absolute;
  width: 13.27%;
  height: 18.9%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border: 0.15% solid #fff;
  border-radius: 0.53%;
  z-index: 2;
}

#img_1 { left: 44.55%; bottom: 75.64%; background-image: url(https://files.catbox.moe/7s0t54.jpg); }
#img_2 { left: 60.49%; bottom: 75.64%; background-image: url(https://files.catbox.moe/cfclg9.jpg); }
#img_3 { left: 76.34%; bottom: 75.64%; background-image: url(https://files.catbox.moe/9t5gtn.jpg); }

/* =========================
   MISC
========================= */
.circle {
  border-radius: 18.29%;
  transition: all 0.8s ease-out;
}

.circle:hover {
  border-radius: 0;
  transform: rotate(-360deg);
}

h1 {
  font-family: muli;
  font-size: 15px;
  color: #fff;
  text-align: right;
  border-bottom: 1px solid #b3323b;
}






/* FOR CELLPHONES=================================================== */

@media (orientation: portrait) {




}
